body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-align: center;
}
.br_c{
  border: 1px solid red;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}
